@font-face {
font-family: 'conduit_itclight';
    src: url('../font/conduit_itc_medium-webfont.eot');
    src: url('../font/conduit_itc_medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/conduit_itc_medium-webfont.svg#conduit_itclight') format('svg'),
        url('../font/conduit_itc_medium-webfont.woff2') format('woff2'),
        url('../font/conduit_itc_medium-webfont.woff') format('woff'),
        url('../font/conduit_itc_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,body {
	margin:0;
	padding:0;
	overflow:hidden;
	font-family: arial, sans-serif;
	font-size:16px;
	-webkit-user-select: none;
}

.fullscreen {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-size:100%;
}

/* Meny for språk */
#menu {
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 6;  
/*     display: block; */  
}
#menu li {
    float: left;
    margin-right: 30px;
    list-style: none !important;
}
#menu li a {
    display: block;
    width: 58px;
    height: 61px;
    cursor: pointer;
    opacity: .5;
}
#home-icon {
    background-image: url(../images/home.svg);
    background-size: cover;
}
#lang-no {
    background-image: url(../images/language_no.svg);
    background-size: cover;
}
#lang-en {
    background-image: url(../images/language_en.svg);
    background-size: cover;
}
#lang-sa {
    background-image: url(../images/language_sa.svg);
    background-size: cover;
}
#lang-kv {
    background-image: url(../images/language_kv.svg);
    background-size: cover;
}
.lang-no,.lang-en, lang-sa, .lang-kv {
        display: none;
}


/* Front */
#front {
	display:block;
}
.front {
	list-style:none;
	margin:0;
	padding:0;
	font-size:1rem;
	position:absolute;
	bottom:0;
	top:0;
	right:0;
	left:0;
	background: url(../images/Skjermsparer_Vidda.jpg);
}

.front-choice {
	font-family: "conduit_itclight";
	text-transform: uppercase;
	font-size:11em;
	position:absolute;
	color:rgba(95,102,111,0.5);
	display: block !important;
}

.front-choice:first-child {
	top:15%;
	left:30%;
	animation: scale ease 25s infinite;
}

.front-choice:nth-child(2) {
	top:35%;
	left:5%;
	-webkit-transform: scale(0.8);
	animation: scalee ease 25s infinite;
	font-size: 10em;
}

.front-choice:nth-child(3) {
	top:32%;
	left:48%;
	animation: scale ease 25s infinite;
}

.front-choice:nth-child(4) {
	top:55%;
	left:18%;
	animation: scale ease 25s infinite;
	font-size: 9.5em;
}
section {
    position: relative;
    overflow: hidden;
}

/* History */
#history {
    display:none;
    background: url(../images/grafikkbakgrunn_Vidda.jpg);    
}
.history-text {
    position: absolute;
    width: 1500px;
    top: 500px;
    left: 130px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-size: 1.8rem;
    color: #999;
}
.history-text::-webkit-scrollbar { 
    display: none; 
}
.history-text h1 {
    text-transform: uppercase;
        font-size: 3rem;
        font-weight: normal;
        color: #6a86a8;
        margin-bottom: 30px;
}
#items {
	display:none;
	background-color: #232629;
}
#items div {
    position: absolute;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-out;
}
#items div img {
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-out;
}
.dall {
    left: 140px;
    top: 216px; 
}
.dall.moved {
    -webkit-transform: translate(1050px,200px);
    -moz-transform: translate(1050px,200px);
    transform: translate(1050px,200px);   
}
.dall img {
    width: 418px;
    height: auto;
}
.skaller {
    left: 700px;   
    top: 68px;
}
.skaller.moved {
    -webkit-transform: translate(400px,330px);
    -moz-transform: translate(400px,330px);
    transform: translate(400px,330px);   
}
.skaller img {
    width: 628px;
    height: auto; 
}
.votter {
    left: 1450px;
    top: 134px;
}
.votter.moved {
    -webkit-transform: translate(-200px,200px);
    -moz-transform: translate(-200px,200px);
    transform: translate(-200px,200px);
}
.votter img {
    width: 370px;
    height: auto;
}
.grene {
    left: 240px;
    top: 612px;
}
.grene.moved {
    -webkit-transform: translate(900px,-150px);
    -moz-transform: translate(900px,-150px);
    transform: translate(900px,-150px);
}
.grene img {
    width: 562px;
    height: auto;
}
.sennatraad {
    left: 1152px;
    top: 622px;
}
.sennatraad.moved {
    -webkit-transform: translate(-60px,-200px);
    -moz-transform: translate(-60px,-200px);
    transform: translate(-60px,-200px);   
}
.sennatraad img {
    width: 618px;
    height: auto;
}

/* Effekter for gjenstandene */

.blue-bg {
    background-color: #0e182d !important;
    -webkit-transition: background-color .6s linear;
}
.blur {
    -webkit-filter: blur(5px);
    opacity:0.4;
    transition: .5s -webkit-filter linear;
}
.scaled {
    -webkit-transform: scale(1.7);
}
.skaller img.scaled {
    -webkit-transform: scale(1.5);
}
.sennatraad img.scaled {
    -webkit-transform: scale(1.5);
}
.info {
    background: url(../images/panel.png) no-repeat;
    width: 950px;
    margin-left: -55%;
    float: left;
    height: 100%;
    position: fixed;
    z-index: 4;
    -webkit-transition: margin 0.2s ease-in-out;
}
.slide-in {
    margin-left: 0;
}
.slide-out {
    margin-left: -55% !important; 
}
.object-text {
    position: absolute;
    top: 300px;
    left: 70px;
    width: 800px;
    height: 580px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-size: 1.4rem;
    color: #999;
}
.object-text::-webkit-scrollbar { 
    display: none; 
}
.object-text h1 {
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: normal;
        color: #6a86a8;
        margin-bottom: 30px;
    }
.object-text p {
    width: 700px;
}
.object-text p + p {
    margin-top: 20px;
}
.object-text span {
    max-width: 700px;
    font-style: italic;
    font-size: 1.2rem;
    display: block;
}
.close {
    width: 86px;
    height:86px;
    background: url(../images/icons.png) top left;
    position: absolute;
    right: 40px;
    top: 30px;
    display: none;
    z-index: 5;
}
.back {
	width: 85px;
    height:86px;
    background: url(../images/icons.png) 171px 0;
    position: absolute;
    left: 40px;
    bottom: 20px;
    position: absolute;
}
/* Bildepanel */
.historical-image {
    width:1160px;
    height: 100%;
    margin-left: 1920px;
    float: right;
    position: fixed;
    -webkit-transition: margin 0.2s ease-in-out;
    -moz-transition: margin 0.2s ease-in-out;
    transition: margin 0.2s ease-in-out;
    z-index: 3;
}
.old-image {
    width:1160px;
    height: 100%;
}
.historical-image.slide-in {
    margin-left: 760px;
}
.historical-image.slide-out {
    margin-left: 1920px !important;
}
.next {
	width: 85px;
    height:86px;
    background: url(../images/icons.png) 85px 0;
    position: absolute;
    right: 40px;
    bottom: 30px;
}
.big-image, .small-image {
    width: 85px;
    height:86px;
    background: url(../images/icons.png) 341px 0;
    position: absolute;
    right: 40px;
    bottom: 30px;
    display: none;
    z-index: 5;
}
.small-image {
    background: url(../images/icons.png) 256px !important;
    display: none;
}